{% extends "base.html" %}

{% block title%} 我的照片 {% endblock%}

{% block newstyles %}
<link href="/static/css/picture.css" rel="stylesheet">

{% endblock %}

{% block page_content %} 

<div class="stream">
        <div class="row">
                {% for photo in getallphotos: %}
                <div class="col-xs-6 col-md-3">
                  <a href="/myphotos/{{photo.id}}" class="thumbnail">
                    <img src="{{photo.pic_url}}" alt="" class="thumbnailimg">
                  </a>
                </div>

                {% endfor %}                
                
        </div>
</div>



{% endblock %}

{% block addscripts %}
<script src="/webapp/static/js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    

</script>

{% endblock %}