{% extends "bootstrap/base.html"%}

{% block title %}Home{% endblock%}

{% block metas %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}


{% block styles %}
<!-- Bootstrap Core CSS -->
<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional fonts for this theme -->
<link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this theme -->
<link href="/static/css/clean-blog.min.css" rel="stylesheet">

<!-- Temporary navbar container fix until Bootstrap 4 is patched -->
<style>
.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}
</style>

{% endblock%}




{% block navbar %}
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="{{url_for('main.index')}}">Hong Chuan's Blog</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{url_for('main.index')}}">主页</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('post.writearticle')}}">写文章</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('post.listarticle')}}">更多文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{url_for('main.about')}}">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{% if current_user.username %}  /userinfo/{{current_user.username}} {% else %} {{url_for('auth.login')}} {% endif%}">个人信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="">联系</a>
                </li>
                


                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                 
                {% if current_user.is_authenticated%}
                <li class="nav-item"><a class="nav-link page-scroll" href="{{url_for('auth.logout')}}">登出 &nbsp;&nbsp; </a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link page-scroll" href="{{url_for('auth.login')}}"> 登录  &nbsp;&nbsp; </a></li>
                {% endif %}
            </ul>


            
                
            
        </div>
    </div>
</nav>

{% endblock %}


{% block content %}
<header class="intro-header" style="background-image: url({{backgroundpic}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="site-heading">
                    <h1>{{siteheading}}</h1>
                    <span class="subheading">{{subheading}}</span>
                    {% block creater%} {% endblock%}
                </div>
            </div>
        </div>
        
        
        
    </div>
</header>
{% block page_content%}


{% endblock %}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2018. </p>
            </div>
        </div>
    </div>
</footer>


{% endblock %}

{% block scripts%}

{{super()}}
<!-- jQuery Version 3.1.1 -->
<script src="/static/lib/jquery/jquery.js"></script>

<!-- Tether -->
<script src="/static/lib/tether/tether.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script src="/static/js/clean-blog.min.js"></script>

{{moment.include_moment()}}
{{pagedown.include_pagedown()}}
{% endblock%}