{% extends "base.html"%}

{% block page_content%}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">


            {% for post in getallposts:%}
            
            <div class="post-preview">
                <a href="{{url_for('post.article',post_id = post.id)}}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="{{url_for('userinfo.user',username = post.user.username )}}">{{post.user.username}}</a> on {{post.publish_date}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-secondary float-right" href="{{url_for('post.listarticle' )}}">更多文章</a>
            </div>
        </div>
    </div>
</div>

<hr>


{% endblock %}