{% extends "base.html"%}

{% block title %}文章列表{% endblock %}




{% block page_content%}
<div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    {% for post in allpost %}
    <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    {{post.title}}
                </h2>
                <h3 class="post-subtitle">
                    
                </h3>
            </a>
            <p class="post-meta">Posted by  <a href="#">{{post.user.username}}</a> on {{post.publish_date}}</p>
        </div>
    {% endfor %}
            </div>
        </div>
</div>
    
    

 {% endblock%}