{% extends "base.html"%}

{% block title %}留言板{% endblock %}


{% block page_content%}
    <div class="container">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <h3>在这里 <span class="label label-default">留言吧！</span></h3>
        {% import "bootstrap/wtf.html" as wtf %}
        
        {{ wtf.quick_form(form)}}

        </div>
        </div>
        <hr><hr>
        
        
        <div class="container">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        
        
        <ul class="posts">
        {% for message in messages %}
            <li class="post">
        <!--
                <div class="profile-thumbnail">
                    <a href="{{url_for('userinfo.user',username = message.user.username )}}">
                        <img class="img-rounded profile-thumbnail" src="{{message.user.headimg}}",height = "5",width = "5"/>
                    </a>
                </div>
               
        -->         
                    
                <div class="post-date">{{ moment(message.timestamp).fromNow(refresh=True)}}</div>
        
                
                <div class="post-author">
                    <a href="{{url_for('userinfo.user',username = message.user.username)}}">
                        {{message.user.username}}
                    </a>
                </div>
                <div class="post-body">{{message.text}}</div>
        
            </li>
            {% endfor %}
        </ul>
    
    </div>
    </div>


   


    
    
   
 {% endblock%}

 {% block newstyles %}
 <link href="/static/css/flaskystyles.css" rel="stylesheet" type="text/css">

 {% endblock %}