 {% extends "base.html"%}

{% block title %}{{post.title}}{% endblock %}


{% block creater %} <span class="meta">Posted by <a href="{{url_for('userinfo.user',username=username)}}" >{{username}}</a> on {{publish_date}}</span>
{% if current_user == post.user %}
<p class="text-warning"><button type="button" class="btn btn-info" onclick="window.location.href='/article/{{post_id}}/edit'">修改文章</button></p>
{% endif%}
{% endblock %}



{% block page_content%}


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                   <div class="post-body">
                        <article class="markdown-body">
                       {% if post.body_html%}
                            {{post.body_html | safe}}
                       {% else %}
                            {{ post.text}}
                       {% endif %}
                       </article>
                    
                   </div>
                </div>
            </div>
        </div>
    </article>
    <!--<button type="button" style="float:right" class="btn btn-light">编辑文章</button>-->
    
    <hr><hr>
    <div class="container">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <h3>在这里评论 <span class="label label-default"></span></h3>
        {% import "bootstrap/wtf.html" as wtf %}
        
        {{ wtf.quick_form(form)}}

        </div>
        </div>
        <hr><hr>
        
        
        <div class="container">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        
        
        <ul class="posts">
        {% for comment in comments %}
            <li class="post">
        <!--
                <div class="profile-thumbnail">
                    <a href="{{url_for('userinfo.user',username = comment.user.username )}}">
                        <img class="img-rounded profile-thumbnail" src="{{comment.user.headimg}}",height = "5",width = "5"/>
                    </a>
                </div>
               
        -->         
                    
                <div class="post-date">{{ moment(comment.date).fromNow(refresh=True)}}</div>
        
                
                <div class="post-author">
                    <a href="{{url_for('userinfo.user',username = comment.user.username)}}">
                        {{comment.user.username}}
                    </a>
                </div>
                <div class="post-body">{{comment.text}}</div>
        
            </li>
            {% endfor %}
        </ul>
    
    </div>
    </div>


   


    
    
   
 {% endblock%}

 {% block newstyles %}
 <link href="/static/css/flaskystyles.css" rel="stylesheet" type="text/css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/static/css/github-markdown.css">
 <style>
     .markdown-body {
         box-sizing: border-box;
         min-width: 200px;
         max-width: 980px;
         margin: 0 auto;
         padding: 45px;
     }
 
     @media (max-width: 767px) {
         .markdown-body {
             padding: 15px;
         }
     }
 </style>
 {% endblock %}
