{% extends "base.html"%}

{% block title %}title{% endblock %}


{% block creater %} <span class="meta">Posted by <a href="#">{{username}}</a> on {{publish_date}}</span>{% endblock %}


{% block page_content%}


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                   {{text}}
                </div>
            </div>
        </div>
    </article>

    <hr>

 {% endblock%}
