 {% extends "base.html"%}

{% block title %}{{post.title}}{% endblock %}


{% block creater %} <span class="meta">Posted by <a href="{{url_for('userinfo.user',username=username)}}" >{{username}}</a> on {{publish_date}}</span>{% endblock %}


{% block page_content%}


    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                   <div class="post-body">
                       {% if post.body_html%}
                            {{post.body_html | safe}}
                       {% else %}
                            {{ post.text}}
                       {% endif %}
                   </div>
                </div>
            </div>
        </div>
    </article>

    <hr>
    


   


    
    
   
 {% endblock%}

 {% block newstyles %}
 <link href="/static/css/flaskystyles.css" rel="stylesheet" type="text/css">

 {% endblock %}
